<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="/resources/layui/css/layui.css">
		<script src="/resources/layui/layui.js"></script>
		<script type="text/javascript">
			// function canuse() {
			// 	var phonenumber = < %= (String) session.getAttribute("user") % >
			// 		if (phonenumber == "15809872335") {
			// 			return true;
			// 		} else {
			// 			alert("对不起，只有管理员可以使用该功能！");
			// 			return false;
			// 		}
			// }
			layui.use('laydate', function() {
					var laydate = layui.laydate;

					//执行一个laydate实例
					laydate.render({
						elem: '#st' //指定元素
					});
				});
			layui.use('laydate', function() {
				var laydate = layui.laydate;

				//执行一个laydate实例
				laydate.render({
					elem: '#et' //指定元素
				});
			});

			function deletes(root) {
				var flag = confirm("【确认删除？】");
				if (flag) {
					var orderID = root.nextElementSibling.value;
					console.log("orderID:" + orderID);
					var xml = new XMLHttpRequest();
					xml.open("get", "/deleteOrder?orderID=" + orderID, true);
					console.log("orderID+" + orderID);
					xml.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					xml.send("orderID=" + orderID);
					xml.onreadystatechange = function() {
						if (xml.readyState == 4) {
							alert("【删除成功】");
						}
					}
				}
			}
		</script>
		<title>维护订单信息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
		<meta content="Coderthemes" name="author" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- App favicon -->
		<link rel="shortcut icon" href="/resources/assets/images/favicon.ico">

		<!-- third party css -->
		<link href="/resources/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
		<link href="/resources/css/vendor/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
		<link href="/resources/css/vendor/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
		<link href="/resources/css/vendor/select.bootstrap4.css" rel="stylesheet" type="text/css" />
		<!-- third party css end -->

		<!-- App css -->
		<link href="/resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/resources/css/icons.min.css" rel="stylesheet" type="text/css" />
		<link href="/resources/css/app.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<!-- Begin page -->
		<div id="wrapper">

			<!-- ========== Left Sidebar Start ========== -->
			<div class="left-side-menu">

				<div class="slimscroll-menu">

					<!-- LOGO -->
					<a href="MainServlet" class="logo text-center mb-4">
						<span class="logo-lg">
							<img src="/resources/assets/images/logo.png" alt="" height="50">
						</span>
						<span class="logo-sm">
							<img src="/resources/assets/images/logo-sm.png" alt="" height="24">
						</span>
					</a>

					<!--- Sidemenu -->
					<div id="sidebar-menu">
						<ul class="metismenu" id="side-menu">
							<li class="menu-title">基础功能</li>
							<li>
								<a href="/resources/templates/main.html">
									<i class="fe-airplay"></i>
									<span> 个人主页 </span>
								</a>
							</li>
							<li>
								<a href="javascript: void(0);">
									<i class="fe-cpu"></i>
									<span> 维护购买订单 </span>
									<span class="menu-arrow"></span>
								</a>
								<ul class="nav-second-level" aria-expanded="false">
									<li>
										<a href="/showOrder" onclick="return canuse()">新建订单</a>
									</li>
									<li>
										<a href="/updateOrder" onclick="return canuse()">修改订单</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/timecard">
									<i class="fe-type"></i>
									<span> 维护工时卡 </span>
								</a>
							</li>
							<li>
								<a href="/updatePay">
									<i class="fe-bar-chart-2"></i>
									<span> 选择支付方式 </span>
								</a>
							</li>

							<li>
								<a href="/employeeReport">
									<i class="mdi mdi-account-heart"></i>
									<span> 生成员工报告</span>
								</a>
							</li>
							<li class="menu-title">高级功能</li>
							<li>
								<a href="javascript: void(0);">
									<i class="layui-icon layui-icon-auz"></i>
									<span> 管理功能 </span>
									<span class="menu-arrow"></span>
								</a>
								<ul class="nav-second-level" aria-expanded="false">
									<li>
										<a href="/manageEmployee" onclick="return canuse()">维护员工信息</a>
									</li>
									<li>
										<a href="/disReport" onclick="return canuse()">管理员工报告</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- End Sidebar -->

					<div class="clearfix"></div>

				</div>
				<!-- Sidebar -left -->

			</div>
			<!-- Left Sidebar End -->
			<!-- ============================================================== -->
			<!-- Start Page Content here -->
			<!-- ============================================================== -->

			<div class="content-page">
				<div class="content">

					<!-- Topbar Start -->
					<div class="navbar-custom">
						<ul class="list-unstyled topbar-right-menu float-right mb-0">



							<li class="dropdown notification-list">
								<a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#"
									role="button" aria-haspopup="false" aria-expanded="false">
									<img src="/resources/assets/images/users/avatar-1.jpg" alt="user-image"
										class="rounded-circle">
									<small class="pro-user-name ml-1">
										{{.showUsername}}
									</small>
								</a>
								<div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">
									<!-- item-->
									<div class="dropdown-header noti-title">
										<h6 class="text-overflow m-0">Welcome !</h6>
									</div>

									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<i class="fe-user"></i>
										<span>My Account</span>
									</a>

									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<i class="fe-settings"></i>
										<span>Settings</span>
									</a>

									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<i class="fe-lock"></i>
										<span>Lock Screen</span>
									</a>

									<div class="dropdown-divider"></div>

									<!-- item-->
									<a href="LogoutServlet" class="dropdown-item notify-item">
										<i class="fe-log-out"></i>
										<span>Logout</span>
									</a>

								</div>
							</li>

						</ul>
						<button class="button-menu-mobile open-left disable-btn">
							<i class="fe-menu"></i>
						</button>
						<div class="app-search">
							<form>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="No Search/resources." disabled>
									<div class="input-group-append">

									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- end Topbar -->
					<!-- Start Content-->
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="card">
									<div class="card-body">
										<h4 class="header-title">
											<过往订单查询>
										</h4>
										<p class="text-muted font-13 mb-4">
										<form action="/selectOrder" method="get">

											<span>订单编号</span>

											<br>
											<span><input type="text" name="orderID" id="orderID"
													class="form-control"></span>


											<!-- <span>客户联系方式</span>

											<br>
											<span><input type="text" name="contact" id="pn"
													class="form-control"></span>

											<br>
											<span>商品类别</span>

											<br>

											<span>
												<select name="productID" data-plugin="customselect">
													<option value="null">全部</option>
													<option value="服装">服装</option>
													<option value="运动">运动</option>
													<option value="文具">文具</option>
													<option value="家电">家电</option>
												</select>
											</span>

											<br>
											<br>
											<span>开始时间</span>

											<br>
											<span><input type="text" name="startDate" id="st" placeholder="YYYY-MM-DD"
													class="form-control"></span>

											<br>
											<span>截止时间</span>

											<br>
											<span><input type="text" name="endDate" id="et" placeholder="YYYY-MM-DD"
													class="form-control"></span> -->

											<br>
											<span><input type="submit" value="查询"
													class="btn btn-block btn-primary"></span>
											<br>
										</form>
										</p>

										<table class="layui-table">
											<thead>

												<tr>
													<!-- <th>姓名</th> -->
													<th>客户联系方式</th>
													<th>客户地址</th>
													<th>商品名称</th>
													<th>花费金额</th>
													<th>日期</th>
													<th>订单状态</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
												<c:choose>
													<c:when test="${alist=='[]'}">
													</c:when>
													<c:otherwise>
														<c:forEach items="${alist}" var="out">
															<form action="/updateOldOrder" method="get">
																<!-- 默认显示最近一条，输出要替换成Golang提取数据的方式 -->
																{{if .Display}}

																<tr>

																	<td>
																		<span>{{.Contact}}</span>

																	</td>
																	<td>
																		<span>{{.Address}}</span>
																	</td>
																	<td>
																		<span>{{.ProductName}}</span>
																	</td>
																	<td>
																		<span>{{.Amount}}</span>
																	</td>
																	<td>
																		<span>{{.Date}}</span>
																	</td>
																	<td>
																		<span>{{.Closed}}</span>
																	</td>


																	<td>
																		<input type="submit" value="修改"
																			class="btn btn-primary btn-sm">
																		<input type="button" value="删除"
																			class="btn btn-danger btn-sm"
																			onclick="deletes(this)">

																	<td>
																		<input type="hidden" name="orderID"
																			value={{.ID}} id="orderID" />
																	</td>
																	</td>
																</tr>

																{{end}}

															</form>
														</c:forEach>
													</c:otherwise>
												</c:choose>
											</tbody>
										</table>

										<div>
											<a href="addoutput.jsp">
												<i class="layui-icon layui-icon-addition"></i>
											</a>
										</div>

									</div> <!-- end card body-->
								</div> <!-- end card -->
							</div><!-- end col-->
						</div>
						<!-- end row-->



					</div> <!-- container -->

				</div> <!-- content -->


			</div>

			<!-- ============================================================== -->
			<!-- End Page content -->
			<!-- ============================================================== -->


		</div>
		<!-- END wrapper -->

		<!-- App js -->
		<script src="/resources/js/vendor.min.js"></script>
		<script src="/resources/js/app.min.js"></script>

		<!-- third party js -->
		<script src="/resources/js/vendor/jquery.dataTables.js"></script>
		<script src="/resources/js/vendor/dataTables.bootstrap4.js"></script>
		<script src="/resources/js/vendor/dataTables.responsive.min.js"></script>
		<script src="/resources/js/vendor/responsive.bootstrap4.min.js"></script>
		<script src="/resources/js/vendor/dataTables.buttons.min.js"></script>
		<script src="/resources/js/vendor/buttons.bootstrap4.min.js"></script>
		<script src="/resources/js/vendor/buttons.html5.min.js"></script>
		<script src="/resources/js/vendor/buttons.flash.min.js"></script>
		<script src="/resources/js/vendor/buttons.print.min.js"></script>
		<script src="/resources/js/vendor/dataTables.keyTable.min.js"></script>
		<script src="/resources/js/vendor/dataTables.select.min.js"></script>
		<!-- third party js ends -->

		<!-- demo app -->
		<script src="/resources/js/pages/datatables.init.js"></script>
		<!-- end demo js-->
	</body>
</html>
