



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
										<table class="layui-table">
											<thead>

												<tr>
													<!-- <th>姓名</th> -->
													<th>客户联系方式</th>
													<th>客户地址</th>
													<th>商品名称</th>
													<th>花费金额</th>
													<th>日期</th>
													<th>订单状态</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
												<c:choose>
													<c:when test="${alist=='[]'}">
													</c:when>
													<c:otherwise>
														<c:forEach items="${alist}" var="out">
															<form action="GetExpenseByID" method="post">
																<!-- 默认显示最近一条，输出要替换成Golang提取数据的方式 -->


																 {{range .Orders}}

																 <tr>
																	 <td>
																		 <span>{{.Contact}}</span>
																		 
																		</td>
																		<td>
																			<span>{{.Address}}</span>
																		</td>
																		<td>
																			<span>{{.ProductID}}</span>
																		</td>
																		<td>
																			<span>{{.Amount}}</span>
																		</td>
																		<td>
																			<span>{{.Date}}</span>
																		</td>
																		<td>
																			<span>{{.Closed}}</span>
																		</td>
																		<td>
																			<input type="submit" value="修改"
																			class="btn btn-primary btn-sm">
																			<input type="button" value="删除"
																			class="btn btn-danger btn-sm"
																			onclick="deletes(this)">
																			<input type="hidden" name="eid"
																			value="${out.eid}" id="eid">
																		</td>
																	</tr>
																	
																	{{end}}
																	

															</form>
														</c:forEach>
													</c:otherwise>
												</c:choose>
											</tbody>
										</table>
</body>
</html>