<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO</title>
  </head>
  <body>
    <h1>Wellcome , {{.User}}</h1>

    <p><mark>TODO</mark></p>
    <ul>
      {{range .Todos}}
      <li>
        {{if .Done}} {{.Name}} <b>Done</b> {{else}} {{.Name}} <b>Unfinished</b>
        {{end}}
      </li>
      {{end}}
    </ul>
    <!-- <ul>

	</ul> -->
  </body>
</html>
